[2020-09-07 18:54] FrightRisk opened #2 "Add status indicator to save functions"
When we add or edit a profile/button map we need an indicator like "...saved" to the right of the saved button

[2020-09-07 18:56] FrightRisk opened #3 "Add warning alert box when trying to click the edit pencil when on default profile"
You are not allowed to edit the default profile / function button map. Pop up an alert if the user tries to do so

[2020-09-07 18:59] FrightRisk opened #4 "Add "tooltip" / "hover help" to buttons"
The edit map, new map, save and restore buttons need tooltip help

[2020-09-07 19:01] FrightRisk opened #5 "Add "Restore" button to menu"
We can save configurations, but not restore them. Add a button for this. Also, what do we call the functions? Is is save and load? restore? etc.

[2020-09-07 19:02] FrightRisk opened #6 "Create user manual"
Need a detailed operating / user manual for the web throttle

[2020-09-07 19:12] matt-hu opened #7 "Add an emulator"
It would be useful if there was an emulator built in, similar to the one on the control system for DCC++ classic.

This would allow for users to test the software before they committed to buying and Arduino/base station, and also for people who want to contribute but don't always have a base station attached to the pc they use for development.

[2020-09-07 21:52] FrightRisk commented on #7
I really haven't taken the time yet to do anything other than look at the controller source. Not very many people used it, in part because it required yet another thing to install. I don't have any more space on this machine to install "processing" just to run a controller. That was the inspiration for me deciding to write a web based throttle that Mani and I are working on.

Do you have much expe

[2020-09-08 15:02] ManiAkasapu commented on #4
I moved these options to dropdown. That makes UI cleaner.

[2020-09-08 15:02] #4 closed

[2020-09-08 15:02] ManiAkasapu commented on #4
I moved these options to dropdown. That makes UI cleaner.

[2020-09-08 16:04] #2 closed

[2020-09-08 16:05] ManiAkasapu commented on #2
For now, I added alert message after SAVE. Later we move to notification type messages.

[2020-09-08 16:05] #3 closed

[2020-09-08 16:06] ManiAkasapu commented on #3
Added alert.

[2020-09-08 19:27] matt-hu commented on #7
You are right, the old controller was a bit of a pain to use, partly because of having to install processing but also due to having to configure it fully in software. The web throttle looks like it is going to be much better!

Basically, what the emulator did was it enabled the software to run fully without an Arduino attached, simulating responses therefore stopping runtime errors occurring. In t

[2020-09-24 18:05] FrightRisk commented on #7
Matt, are you on our Discord? I sent you an invite here to be part of the web throttle team. Feel free to work here in this repo on your own branch rather than fork it. Let's figure out a way to trade info so we have each others' contact information and we can see where we are both going with projects and which ones we can help each other on.

[2020-09-25 05:37] #7 closed

[2020-09-25 05:43] ManiAkasapu commented on #5
This added. You can currently see the Option "Import Map" from Options Menu.

[2020-09-25 05:43] #5 closed

[2020-09-25 07:19] matt-hu commented on #7
@FrightRisk thanks for that! My main project at the moment is the [TrainLink API](https://github.com/matt-hu/trainlink-api). When I saw what you were doing here, I thought that the API would work well with it. I am going to have a go implementing it and I was using the emulator to get to know the code.

[2020-09-25 14:04] FrightRisk opened #9 "Simulator and vertical throttle slider broken"
Not sure what happened yet, but the slider does not move with clicks or dragging, but it does register a change in the number. The + and - work. The simulator is broken, there are no entries in the log when the throttle is moved or function buttons are presssed

[2020-09-25 15:59] matt-hu commented on #9
I will have a look into that quickly.

[2020-09-25 17:14] matt-hu commented on #9
All fixed! There was some duplicated code in commandController.js.
I noticed the emulator wasn't included in the v1.0 release, so I have created a v1.1.0 alpha release.

[2020-09-25 17:14] #9 closed

[2020-09-28 16:02] matt-hu commented on #6
I've started with the README.md, this is now up to date and relevant to the current version of the software.

[2020-10-20 18:47] matt-hu opened #11 "Roadmap"
I have started work on the wiki locally, and I was thinking it would be a good idea to publish a roadmap so people can see where we are going with the project. Here are my ideas:

* Unified settings page
* Turnout control

Please let me know if these are ok to be added to the roadmap. If they are good suggestions, I will open an issue for each one individually so we can work out more details and t

[2020-10-21 02:52] FrightRisk commented on #11
I think that is a great idea. Let's get Mani's input as well. I know he had some ideas and added a different throttle in his branch. I need to check that we are getting all the response messages from the CS. That would have helped debugging the CS the other day when some of the Fn buttons were not correct

[2020-10-21 02:53] FrightRisk commented on #6
Also, let's check the web page and compare it to what you are working on and what is needed. We should decide if we are putting everything on the Web page, the Wiki, or some mix of both.

[2020-10-21 03:08] FrightRisk opened #12 "Merge Mani's 3D Throttle"
Should we keep the 2d one as well? If we allowed several throttles we would need a dropdown and not a slider to choose between vertical and circular. There are things that certain throttles don't have in the code. A knob like an old DC train transformer would look cool

[2020-10-21 03:11] FrightRisk opened #13 "Drop Throttle commands?"
We need to make sure that the log has no delay, but also what do we do with something like a throttle that can fill the buffer if we spin it back and forth quickly? We can have hundreds of throttle commands that will take forever to catch up in the log. Do we flush the buffer when the throttle is changed and only show the last command? Thoughts?

[2020-10-21 05:26] ManiAkasapu commented on #12
What do yo u think about earlier (circular) slider?
I thought of replacing that slider with Knob (3D) throttle.
However I am not only working on the slider but whole page:
**WIP screenshot below:**
![Uploading image.png…]()

[2020-10-21 05:37] ManiAkasapu commented on #13
what do you think most useful to user? we can replace the content instead of appending.. so not only for throttle, for every command the content (log) will be replaced.

[2020-10-21 05:40] ManiAkasapu commented on #12
May be first item in roadmap is
1. How may throttles to support?
2. How to support them via code?

[2020-10-21 05:50] ManiAkasapu commented on #11
@matt-hu
How are you imaging **Unified settings** ?
I am thinking to have menu with (may be) 3 items:

1. Throttle
2. Function mappings (Manage function labels, buttons etc)
3. User preferences (default throttle, theme etc)

Other roadmap Items in the preferred order.

1. I would like to see in the list is to verify the code for scalability & modularity. So that different part of the throttle can

[2020-10-21 06:22] matt-hu commented on #11
@ManiAkasapu, I was thinking of a unified settings page, should have made it clearer.

The reason I suggested this is we have toggles dotted around the interface such as vertical sliders, debug console and there are just going to be more added over time.

Themes sounds like a good idea by the way!

[2020-10-21 06:26] matt-hu commented on #11
Also, could I suggest the inclusion of TrainLink. TrainLink is an API that I am maintaining, it is currently in early stages of development.

Basically, it allows multiple throttles to connect to one server and stay in sync, meaning of you change the speed on one device, it will update in realtime on another. [Here is the repo](https://github.com/matt-hu/trainlink-api)

[2020-10-21 06:33] matt-hu commented on #13
I noticed that that happened.
My suggestion would be to only have one entry for a throttle turn. Here is an example

**1**
**t1 3 100 1**

If the throttle was turned again, it would look like this:

**1**
**t1 3 100 1**
**t1 3 5 1**

Basically, all movements with less than one second (for example) between them would be contacted to one output.

[2020-10-21 06:35] matt-hu opened #14 "Unified settings page"
What does everyone think of the unified settings page?

[2020-10-21 07:22] ManiAkasapu commented on #13
@FrightRisk
I removed animation and it is quickly moving bottom. I think this ok. Code below:

[code]

[2020-10-21 07:25] matt-hu opened #15 "End user update process"
At the moment, it is hard for end users to update the software, these are their options:

- **Keep checking the repo for new release** - quite a hassle, especially when there is a new one as they will have to transfer their data.
- **Use the version on _dcc-ex.com_** - this is hard for us to update as we have to copy the code, then wait for it to be built to GitHub Pages. As a result, this is stil

[2020-10-21 07:28] ManiAkasapu commented on #13
@matt-hu As you suggested (if I understand what you are trying there) we can use timeout to clear old log.
That means if the message (log) is displayed 1 second ago (or whatever timing it is) we clear it else we append it.

[2020-10-21 07:31] matt-hu commented on #13
@ManiAkasapu that sounds about right. Do you want to have a go at implementing it in a separate branch so we can then have a look? There's no rush if you are going to do that.

[2020-10-21 07:43] ManiAkasapu commented on #13
I think the main problem is delay. I removed the animation from the Logbox and now the scroll is moving to bottom without delay. I think that is enough to fix this issue.
@matt-hu Let's wait and see how this change works. So I would recommend to defer. What do think?

[2020-10-21 16:13] matt-hu commented on #13
@ManiAkasapu, sorry I didn't see the code sample, my mistake! I've tried that out and it seems good! I will commit it to my dev branch.
Great work!

[2020-10-21 16:15] matt-hu commented on #12
I was thinking, to allow us to support many throttles, a dropdown could be added to the unified settings page #14. This would allow us to give users plenty of options

[2020-10-22 16:15] matt-hu opened #16 "Store cab data and switching"
Suggested by @ManiAkasapu

We need a way of storing the cabs used to allow quick switching without the address needing to be used each time.
We also need a way to switch quickly between cabs without needing to release, type in new address and then acquire.

[2020-10-24 13:55] ManiAkasapu commented on #14
I  added multi throttle functionality and Theme switching functionality.
You can test from my  branch  **Webthrottle-Mani**

[2020-10-24 14:06] ManiAkasapu commented on #15
@matt-hu I do not know if this is possible until we can embed HTML  inside standalone application.. I am no expert but imagine something like clicking on a App icon (windows, mac, linux) it opens a wrapper application with Webthrottle embeded inside it.
If we can embed and get chromium functionality inside and it supports serial and webstorage features, we then, only need a button to update the fi

[2020-10-24 14:35] matt-hu commented on #15
@ManiAkasapu, if you check out the __pwa__ branch, I have started to add pwa support. This allows it to be installed similar to an app.

One thing I thought of was setting up GitHub Pages for this repo, then it would automatically build from the master branch.

Another option would be to wrap it in a framework to produce native apps, as you said.

[2020-10-24 14:36] matt-hu commented on #14
@ManiAkasapu I will have a look at that!

[2020-10-24 16:55] matt-hu commented on #14
@ManiAkasapu Good start!

I like the themes; they look really nice and good to have them.

By the way, you might want to merge the master branch into your dev branch. It appears you just missed some of the changes I made to make the emulator fully functional and add features such as not allowing cabs to be acquired when there is no connection.

[2020-10-25 16:01] matt-hu commented on #12
I think the solution achieved in Mani's branch is good and solves this issue.

[2020-10-25 16:01] #12 closed

[2020-10-26 12:06] ManiAkasapu commented on #13
@matt-hu @FrightRisk I think we can close this.

[2020-10-26 12:06] #13 closed

[2020-10-26 12:07] matt-hu commented on #13
Yep! Well done for noticing.

[2020-10-26 12:08] ManiAkasapu commented on #11
@FrightRisk @matt-hu I completed Dark theme, multi speed controller support and merged. I have tested only on emulator. Please test it on serial mode.

[2020-10-26 12:11] matt-hu commented on #11
@ManiAkasapu I will test that later.

Are you going to start sorting what you said about scalability?

I am trying out a concept for the unified settings page, I will post a screenshot when I have made a bit more progress.

[2020-10-26 12:30] ManiAkasapu commented on #11
@matt-hu For I separated out the Speed controller code hence I am able to Add 3 different sliders for speed controlling. This is good for now.

[2020-10-26 13:18] ManiAkasapu opened #22 "Speed commands not displaying in Debug area"
When I am changing speed value (in emulator mode) debug box not showing the respective speed commands. Not sure this is happening only on emulator or serial too.
@matt-hu @FrightRisk Please test if speed commands are getting sent out to the Loco.

[2020-10-26 13:26] ManiAkasapu commented on #22
Just tested (emulator) in 1.1.0. It is working there. @matt-hu Can you look at it?

[2020-10-26 13:27] matt-hu commented on #22
@ManiAkasapu thanks for highlighting this. I will test this later and try and fix add soon as possible

[2020-10-26 14:12] matt-hu commented on #22
Just checked, there are no speed commands being sent to the command station so I will need to investigate this further.

[2020-10-26 14:48] matt-hu commented on #22
@ManiAkasapu, I think this is now fixed. Do you want to double check to make sure (the fix is in `master` by the way)

[2020-10-26 14:57] matt-hu commented on #11
By the way, feel free to add to the roadmap page in the wiki, or comment here and I will add it.

[2020-10-26 15:02] matt-hu opened #23 "Version 1.2.0"
What should be present in version 1.2.0?

So far, this is the list we have:

- Full emulator
- More throttles
- Themes
- Connection indication
- More tooltips
- UI disables correctly
- Enter key now triggers actions in text fields
- Minor UI changes (aligns with middle)

@ManiAkasapu, @FrightRisk, is there anything I missed? What else should we wait for?

Also, @ManiAkasapu, are you working on any

[2020-10-26 15:05] ManiAkasapu commented on #22
Can you check it's only for Knob type or other sliders are also effected?
I commented that because, I am sending commands from `setSpeedofControllers()` function (inside you see the call)
I assume knob type has the condition
[code]
Which may cause the issue.

But if other types (vertical, circular) also not working then I have to look at my code.

[2020-10-26 15:11] ManiAkasapu commented on #23
@matt-hu Thanks for List.

Assuming you are taking up these (saw some changes in code).
😃

[2020-10-26 15:12] matt-hu commented on #22
@ManiAkasapu All sliders were affected, what I did was uncommented line 440 in *exWebThrottle.js*

[2020-10-26 15:14] matt-hu commented on #23
They are all done and in master! (As is everything on that list)

Is there anything else you want to add to the code before version 1.2.0?
If not, I will start to prepare the release (after fixing #22)

[2020-10-26 15:18] ManiAkasapu commented on #22
Thanks @matt-hu. That line only applies to Knob type throttle.. I wonder if other types are working without this fix..

[2020-10-26 15:21] ManiAkasapu commented on #23
Nope. Just wanted to get it tested throughly. (unfortunately I couldn't test, I am away from my home, hence asking you guys to test)

[2020-10-26 15:25] ManiAkasapu commented on #23
IMO @matt-hu This ok for now.
Let us wait for @FrightRisk  opinion.

[2020-10-26 15:25] matt-hu commented on #22
@ManiAkasapu, thanks for that. As far as I am aware, using code in the `master` branch, all is now working. Do you want to check this to make sure this is the case?

[2020-10-26 15:27] matt-hu commented on #23
@ManiAkasapu Ok, shall I create a pre-release? This way, we can add anything for @FrightRisk, but still show we are releasing soon (plus encourage people to test for us).

[2020-10-26 15:28] ManiAkasapu commented on #22
Yes. Please..

[2020-10-26 17:25] matt-hu commented on #15
@ManiAkasapu, @FrightRisk, would the GitHub Pages option I talked about above be possible?

I have got the pwa working. If you use the pwa branch, then look in the url bar next to the bookmark button. You should see a little plus button, this will install it locally.

I am also working on an electron version of the code.

[2020-10-27 02:13] ManiAkasapu commented on #16
@matt-hu Do you think simple drop-down is enough to switch?
For this there no need of Acquire button. Just select the Cab it will be acquired... Acquire will become Add locomotive button.
You see any problems with this approach?

[2020-10-27 02:17] ManiAkasapu commented on #16
Ofcourse the drop-down is searchable.. but let me know if you have any other more intuitive ideas..
For example, When user click on acquire, a popup which contains added locomotives shows with more details like Name, CV, along with image..
This is complex but achievable..

[2020-10-27 07:51] matt-hu commented on #16
A drop-down would be a good idea, where the top entry is a text box

I also wonder if it would be good to have 5 favourites.

Another option would be to allow the user to set up names for each address such as _Flying Scotsman_ or _Class 08_. I will try and make some mockups later.

[2020-10-28 01:35] ManiAkasapu commented on #16
Generally if we are going with drop-down, all are same.. there's no favourite.. while adding a loco, they were given a form with 4 fields (for now)
1. Name
2. Cv
3. Type of loco ( diesel, electric etc)
4. Manufacturer etc.

Note that user has to add loco before they use.

[2020-10-28 07:45] matt-hu commented on #16
@ManiAkasapu that's exactly what I meant! Could the cab data be stored in an XML file? The only reason I ask is I have an idea for a future integration that already uses this.

[2020-10-28 09:10] ManiAkasapu commented on #16
Cab data is stored as JSON  in browser storage and will be available to download(export) in as .json file.
We can also have  format options to  convert  it to .xml before export

[2020-10-28 09:18] ManiAkasapu commented on #16
@matt-hu
These are the fields for a locomotive:
{
      "name": "BR151",
      "type": "Electric",
      "brand": "Fleischmann",
      "decoder": "Lenz Standard V2+",
      "owner": "grbba",
      "dccAddress": 3,
      "functionmap": "mymap"
}

[2020-10-28 09:21] matt-hu commented on #16
@ManiAkasapu oh ok. I think that is workable, as the XML can be converted to JSON when the site starts

[2020-10-28 14:19] FrightRisk commented on #11
I approve all these additions. Things are moving in the right direction and quickly! I need to learn more about trainlink, that sounds very interesting. If you haven't already, add the roadmap to the Wiki. The only other kind of control I thought of for the throttle was a lever (a handle you throw from left to right). Do you have other ideas? I think with that in place and a couple of themes, we c

[2020-10-28 14:19] FrightRisk commented on #23
I think this is good for a release.Great work guys! After this let's move to the roadmap and see what to tackle there.

[2020-10-28 15:06] matt-hu commented on #23
@ManiAkasapu @FrightRisk

I have done made the release and published it. The changelog is looking half-decent feature-wise, which is good!

Onwards to V1.3.0!

[2020-10-28 15:06] #23 closed

[2020-10-28 15:24] matt-hu opened #26 "TrainLink integration"
@FrightRisk I have created this issue to discuss the use of TrainLink with exWebThrottle.

For reference, the repo can be found [here](https://github.com/matt-hu/trainlink-api) and the documentation [here](trainlink-api.readthedocs.io).

[2020-10-29 10:33] matt-hu opened #28 "Version 1.3.0"
What are we going to work on for v1.3.0?

Here is what is currently in the roadmap:

- __Settings Page__
- Turnouts
- __Cab switching__

__Bold__ means in the release

What should we focus on for this release?

[2020-10-29 12:57] ManiAkasapu commented on #22
Verified.

[2020-10-29 12:57] #22 closed

[2020-10-29 13:03] ManiAkasapu commented on #16
@matt-hu I working on this. I see you using "ex-locoid" input box (this is used for acquire loco). Please watch my changes.. This may effect your code for
1. Simulator
2. Disabling speed controls when loco not acquire.

No, I am planning to trigger Acquire on select also (WIP). You may need to check that code too.

[2020-10-29 13:43] matt-hu commented on #16
@ManiAkasapu thanks for the heads-up. Where are you working on that? Is it on your branch or one specific for this feature?

[2020-10-29 13:47] ManiAkasapu commented on #16
@matt-hu My branch

[2020-10-29 13:55] matt-hu commented on #16
Ok thanks

[2020-10-29 15:15] ManiAkasapu commented on #16
@matt-hu I pushed my changes to my branch.. It is work in progress but you see the code that may effect your code..
Also you can test it let me know the feedback too.
Pending items are:
1. Styling
2. Storing Cab data in Local storage (currently using sample JSON data)

[2020-10-29 16:14] matt-hu commented on #16
@ManiAkasapu thanks for letting me know. I will have a look and check for issues when I have some time.

[2020-10-29 19:56] matt-hu commented on #16
@ManiAkasapu I have had a look, and everything seems to be working correctly.

At this point, as there are going to be many new settings such as editing and adding cabs, it might be a good idea to use the unified settings page. I have published my local branch called `unified-settings` where I have started work on the feature. It is very much WIP, but gives an idea of what I am intending.

[2020-10-30 02:47] ManiAkasapu commented on #16
@matt-hu Correct. Lets move things that needs to be in settings page.. This is what I am thinking..
I am going to introduce page for following
1. Throttle
2. Function Mapping
3. Locomotives
4. Settings pages

What settings you think can be moved to settings page?
(Oh. You have a branch let me check that)

Thanks for amazing work.

[2020-10-30 06:33] ManiAkasapu commented on #16
@matt-hu I have introduced the menu. It would be good if you link the toggle between Settings and Throttle to side menu I troduced.

[2020-10-30 06:35] ManiAkasapu commented on #14
@matt-hu I have introduced the menu. It would be good if you link the toggle between Settings and Throttle to side menu I introduced.

1. Show Settings block when User clicks on Left menu-item settings.
2. Click on Throttle menu to go back to Throttle.

[2020-10-30 06:36] ManiAkasapu commented on #14
<img width="435" alt="image" src="https://user-images.githubusercontent.com/3207181/97668603-505c8280-1aa8-11eb-8550-8ba1c02f857e.png">

[2020-10-30 08:29] matt-hu commented on #14
@ManiAkasapu That looks great! I will try and link my page when I get some time.

[2020-10-30 08:30] matt-hu commented on #16
@ManiAkasapu  That menu is looking good! Good idea.

[2020-10-30 09:15] matt-hu commented on #14
@ManiAkasapu I have done the initial work, it would be helpful if you could merge into your branch as I keep getting merge conflicts when pulling your changes to the `unified-settings` branch.
At the time of writing, there are no conflicts between `Webthrottle-Mani` and `unified-settings`, so you shouldn't have any problems there.

[2020-10-30 10:05] ManiAkasapu commented on #14
@matt-hu You mean with `unified-settings` branch?

[2020-10-30 10:15] ManiAkasapu commented on #14
@matt-hu One suggestion on settings page format is just to follow "Github" repository settings. Screenshot below:
<img width="987" alt="image" src="https://user-images.githubusercontent.com/3207181/97693242-e2738380-1ac6-11eb-9432-6eff27a3aa9d.png">

[2020-10-30 10:19] ManiAkasapu commented on #14
@matt-hu I keep forgetting asking you if you are on discord? If you are please ass me to friends list.
BTW, Thanks for your great work and managing the repository, release & streamlining the processes.
I, myself is not a developer. so, I could not do all these my self.

[2020-10-30 12:37] matt-hu commented on #14
@ManiAkasapu `unified-settings` is the one, yes

I'm not quite sure what you mean here. (Also, I don't have access to the repos settings)

Sorry, I'm not on discord but you can always email me at matt.hu1@outlook.com if needed.

[2020-10-30 13:56] ManiAkasapu commented on #14
@matt-hu
I made some CSS & HTML structural changes.  Hope you do not mind. You can fetch them from my branch.
This is the idea I am talking about.
Its nice you flex.

[2020-10-30 13:59] matt-hu commented on #14
@ManiAkasapu Thanks for the CSS work! Much better than mine...

[2020-10-30 14:00] matt-hu commented on #14
Also, you can use the `unified-settings` branch to make your changes if you want

[2020-10-30 14:14] ManiAkasapu commented on #14
BTW, I merged to your branch too.

[2020-10-30 14:15] matt-hu commented on #14
@ManiAkasapu Yep saw that, thanks!

Currently working on the storage page...

[2020-10-30 14:53] matt-hu commented on #14
@ManiAkasapu BTW, I have pushed to `unified-settings` with some additions to the storage page

I was wondering if a legacy mode would be a good idea. This would allow us to use the new features on command station whilst still supporting basestation-ex (legacy mode on - no new commands used, legacy mode off - we can use the new commands such as the  ` <F cab function state>`  for functions)?

[2020-10-31 00:00] ManiAkasapu commented on #14
Actually, Currently we support only legacy commands..
First we have to support these new (EX) commands..
I would be great if you can have table comparing legacy and new commands.. I can add those functions..

Depending on that , I have 2 different ideas,
1. Just send both of them
2. Send command depending on setting you are talking about.

Also I can think this way too..
Option1: Support Classic [

[2020-10-31 00:01] ManiAkasapu commented on #14
@matt-hu Another option is forget about it.. just send both by default.. Later as EX got popular remove support for DCC++ Classic.

[2020-10-31 00:06] ManiAkasapu commented on #14
@matt-hu You can find all commands in "commandController.js"

[2020-10-31 08:27] matt-hu commented on #14
@ManiAkasapu sending both could work, for now at least. At the moment, the only new command I am aware of is the new functions command. However, in the future new commands could be introduced that don't have an alternative in DCC classic.
I suppose we don't really need to worry about this yet, just an idea we might need in the future...

[2020-10-31 08:51] ManiAkasapu commented on #14
One suggestion for Settings screen is not to hide Blocks just stack them one below each. When you click on the side menu item just scroll it to top. However we will not have settings that many.
What do you think?

[2020-10-31 10:29] matt-hu commented on #14
@ManiAkasapu Yes! That could work well!

How about the blocks don't change order, but it moves the block into view. An example of this is the chrome settings panel?

[2020-10-31 14:49] matt-hu commented on #16
@ManiAkasapu Just a thought, should the cab data as well as user preferences (theme etc.) be added to the backup json file?

[2020-10-31 14:52] ManiAkasapu commented on #16
Currently, They are 3 different object preferences, Mapdata, Cabdata..

We can merge them and download single file.

[2020-10-31 14:56] matt-hu commented on #16
Ok. I did see they were stored separately in the dev tools. The only reason I suggested this is some users might expect to have their theme and cabs exported, then come to import them and find they are missing, thinking something is broken. What do you think?

[2020-10-31 15:36] ManiAkasapu commented on #14
Yes. that's what I meants. Like $.scrollTo("#blockx"):

[2020-10-31 15:44] ManiAkasapu commented on #16
Sorry for my typos..

Theme? That's too granular.  I assume you meant preferences..
We can make users to download
1. Preferences - need function
2. Maps ( All /Single)
3. Locomotives (All/Single - not started)
4. All the above - Needs to work

Let me know your views..

[2020-10-31 15:48] matt-hu commented on #14
@ManiAkasapu
That should work well!
Well done for coming up with that idea!

[2020-10-31 16:52] matt-hu commented on #16
@ManiAkasapu didn't mean theme, sorry! I meant all the preferences, like you said. Here is the options I think the user needs, based off what you said:
- download all data
- download data for individual entity e.g. cab or function map

[2020-11-01 20:24] matt-hu commented on #14
@ManiAkasapu, the `unified-settings` branch now has the scrolling feature you talked about.

[2020-11-08 10:42] ManiAkasapu commented on #16
@FrightRisk I have merged the changes to Master. Please test it before proceeding with further feature additions.
Now, User can see a Hamburger menu on the top left corner which allows you switch between pages.

cc @matt-hu

[2020-11-08 10:43] ManiAkasapu commented on #14
@matt-hu @FrightRisk I have merged all the proposed changes to Master. Please it before closing it.

[2020-11-08 10:47] ManiAkasapu commented on #28
@matt-hu I completed fixing almost all bugs and features related to this (v 1.3) except the **Turnouts**. We will test and look at how current changes work (also verify for User experience) and then move to **Turnouts** feature.

Thanks

[2020-11-08 10:53] matt-hu commented on #28
Hi @ManiAkasapu we don't need to put turnouts in this release, it was just something on the roadmap...

[2020-11-08 10:56] ManiAkasapu opened #37 "Seperate .js files by resposibility"
Currently all functions/functionality  scattered across js files. This is the task to bring all of them together and put them in meaningful way. This includes moving function to different .js file, Creating & renaming .js file if needed etc.
Ultimately, We should be able to tell which .js file is responsible for a particular functionality. For example,

[code]
Not only files but also functions ins

[2020-11-08 10:57] ManiAkasapu commented on #28
Thank you @matt-hu , I am thinking the same.

[2020-11-08 11:03] matt-hu commented on #28
@ManiAkasapu by that do you mean leave turnouts to 1.4.0?

[2020-11-08 11:45] matt-hu commented on #16
@ManiAkasapu The menu switcher is looking great! The only thing I have noticed is when adding a new function map, this opens in a 'popup' window rather than replace the `Select a function map` pane like viewing function maps does, if you get what I mean.
(Also, the new function map window isn't theme aware at the moment).

[2020-11-08 11:48] matt-hu commented on #14
@ManiAkasapu Thanks for that! Development is moving really fast at the moment...
I'll test it when I get some time, then we can think about moving on to new features!

Over time, we will probably think of new settings to add, but at the moment they are all where they need to be. I must say, this work has made the UI much cleaner, it is looking great!

[2020-11-08 11:54] ManiAkasapu opened #38 "Add Hard Stop"
Add Hard Stop button to Throttle panel

[2020-11-08 11:55] matt-hu commented on #38
YES! I had completely forgotten we were missing this! Definitely needed for version 1.3.0

[2020-11-08 11:56] matt-hu commented on #37
@ManiAkasapu Very good idea as at the moment exwebthrottle.js contains most of the code. Added to version 1.3.0 milestone

[2020-11-08 11:57] ManiAkasapu commented on #38
@matt-hu I have commited this to master. It is all workign fien But I need your help to disable it when there is no locomotive selected / no power / not coenncted to DCC++Ex.

[2020-11-08 11:59] matt-hu commented on #38
@ManiAkasapu Nice work! I will have a look and try and get it disabling when I have a decent amount of time to sit down and work on it.

[2020-11-08 12:02] ManiAkasapu commented on #16
Right. I currently reused existing popup to avoid re-work (dirty but works for now). We will move it to page as you mentioned.
I will deal with these popups later. I just deferred for now.

[2020-11-08 12:02] ManiAkasapu commented on #16
@matt-hu ⬆️

[2020-11-08 12:03] ManiAkasapu commented on #28
@matt-hu correct. Depends on time.

[2020-11-08 12:03] matt-hu commented on #16
@ManiAkasapu Thats fine by me! It works, which is the main thing. Don't worry about changing it now, as you say we can deal with minor cosmetic changes later on.

[2020-11-08 12:05] matt-hu commented on #28
@ManiAkasapu Ok, I'll update the roadmap to show turnouts as 1.4.0

Makes sense really, as then we have a major change to put on the changelog for version 1.4.0

[2020-11-08 12:07] ManiAkasapu commented on #16
@matt-hu Only thing I worry about the experience while acquiring the loco. You can try and let know what do you think.
Just providing screenshot below to get what I mean
<img width="428" alt="image" src="https://user-images.githubusercontent.com/3207181/98464451-0599e380-21e9-11eb-941d-2a4c3ecb522a.png">

[2020-11-08 12:09] matt-hu commented on #15
@ManiAkasapu @FrightRisk
Just to give everyone an update, I have managed to get the PWA system to work.
If you use my fork [here](https://matt-hu.github.com/exWebThrottle) and look in the navigation bar, you will see a small plus sign. If you click this, it will install it onto your PC (check under E on the start menu) and it will launch as a separate app. This also works offline as well!

[2020-11-08 12:12] matt-hu commented on #16
@ManiAkasapu I think it is good for now. We can think about it for a bit and put a _new and improved_ version in a later release if we need to.

Also, hopefully at some point we will start to get some users giving us some feedback...

[2020-11-08 12:17] ManiAkasapu commented on #15
@matt-hu I did not see plus.  Where exactly?

[2020-11-08 12:19] matt-hu commented on #15
@ManiAkasapu Its in the address bar:
![image](https://user-images.githubusercontent.com/70395217/98464705-96a69580-21bc-11eb-8869-6f11f1d1bfc6.png)
Next to bookmarks
The screenshot shows how it appears in the new edge on windows 10, but it should be the same in chrome

[2020-11-08 12:22] ManiAkasapu commented on #15
No. I did not see. Look like it is kind of save for offline option. What it is called in Chrome?
@matt-hu

[2020-11-08 12:23] ManiAkasapu commented on #15
Also our throttle only works with chrome because of experimental feature it allows.

[2020-11-08 12:24] matt-hu commented on #15
Here is a chrome screenshot:
![image](https://user-images.githubusercontent.com/70395217/98464815-4419a900-21bd-11eb-9725-3df35fe35c49.png)
It takes a few seconds for it to appear

Basically, a lightweight version of chrome is used to run the app offline, so as long as the flag is enabled in chrome, it works in the app

[2020-11-08 12:25] matt-hu commented on #15
@ManiAkasapu What version of chrome are you on?
(To find out, press the three dots, then under help - About google chrome in case you don't know where to find it)

[2020-11-08 12:26] ManiAkasapu commented on #15
![Uploading image.png…]()

[2020-11-08 12:27] ManiAkasapu commented on #15
May be the flag you mentioned is not enabled on my chrome?!!

[2020-11-08 12:28] ManiAkasapu commented on #15
I still did not see it.  FYI, I am on Mac.

[2020-11-08 12:28] matt-hu commented on #15
@ManiAkasapu for some reason I can't see the image you posted...

[2020-11-08 12:29] ManiAkasapu commented on #15
<img width="703" alt="image" src="https://user-images.githubusercontent.com/3207181/98464923-17c95100-21ec-11eb-8259-f11d028ee6f0.png">

[2020-11-08 12:30] ManiAkasapu commented on #15
Sorry, Its keep uploading but not completed.

[2020-11-08 12:31] matt-hu commented on #15
@ManiAkasapu I can see it now. Just doing a  google search to find out why its not working...

[2020-11-08 12:33] matt-hu commented on #15
@ManiAkasapu If you use the three dot menu, do you get an option like this:
![image](https://user-images.githubusercontent.com/70395217/98465044-927b7780-21be-11eb-9359-5149875bc0ec.png)

[2020-11-08 19:18] matt-hu commented on #15
@ManiAkasapu Sorry, I think I made a mistake during my initial explanation. The PWA feature is only available when the site is hosted, not when running locally. To get around this, I have set up GitHub Pages in **my fork**. Unless you are using my fork, the install option won't show up. Here is the address for my fork: [https://matt-hu.github.io/exWebThrottle](https://matt-hu.github.io/exWebThrott

[2020-11-09 12:22] ManiAkasapu commented on #14
@matt-hu this is some think we should also discuss with @FrightRisk . He knows all types of commands and modes.. @FrightRisk please provide us the EX command list (some where I saw).

[2020-11-09 16:28] matt-hu commented on #14
@ManiAkasapu Yes I agree we should ask @FrightRisk.
There is a command list located in the [control station wiki, found here](https://github.com/DCC-EX/CommandStation-EX/wiki/DCC-EX-Command-Reference)

[2020-11-12 07:34] ManiAkasapu commented on #15
@matt-hu I just tried with Chrome in Mac. It is very good. It even showed on "Search for App" in Mac.

[2020-11-12 07:52] matt-hu commented on #15
@ManiAkasapu that's great! Do you reckon we should use this to distribute the program, rather than a download?

[2020-11-13 03:35] ManiAkasapu commented on #15
@matt-hu I am no expert. Let's ask @FrightRisk

[2020-11-13 03:37] ManiAkasapu commented on #15
@matt-hu On second thought. Can we have a button in settings page that says **"Install on my system"**, Which exactly does what it is doing now?

[2020-11-13 20:13] matt-hu commented on #15
@ManiAkasapu Good idea! I have started work on that.

[2020-11-17 16:15] FrightRisk opened #39 "Command Window Idea"
For the exWebthrottle to have capabilities to enter commands / get the diags  / messages back and display makes sense indeed. But instead of having the low level interaction you could ask the question what a UI for that purpose would look like. you could make a sort of admin panel enabling e.g. Diags with a slider button instead of typing a command. You could add an option to save to a file etc ..

[2020-11-21 18:55] FrightRisk commented on #11
Great work. The issue that seems complex and still fuzzy is turnout control, trainlink, etc. Can trainling work together with TPL or where we are going with accessory control? I realize it is more for throttle control, but does it have a tie in with how we want to come up with a universal way to interface to everything on the railroad?

[2020-11-21 18:57] FrightRisk commented on #11
Can we add to the roadmap and put it in the top message? Confusing with so many ways to do things, but the issues section lets you create checkbox lists. Do we attach this to an issue or just in that first message put our features and then make issues for them and check them off that way?

[2020-11-21 19:00] FrightRisk commented on #38
Where are we on this? Let me know when we can mark it done.

[2020-11-21 19:02] FrightRisk commented on #28
Are you guys ready then for release 1.3? With turnouts in 1.4? If so, go ahead and push out the release.

[2020-11-21 19:05] FrightRisk commented on #26
I mentioned this in another issue, but let's do discuss it here. The first question is how would it affect (if at all) the whole discussion of how to handle turnouts, accessories, sensors, etc. in the future and fit in with TPL? What issues are there with any affect on the CS in terms of size or consuming Arduino resources?

[2020-11-21 19:09] FrightRisk commented on #16
We should announce this for testing. Should we put Larry on having people test what is in master? I need to fix the web page so that the latest version of the throttle is available.

[2020-11-21 19:16] FrightRisk commented on #15
Sorry just getting to this now. The web page is changing and will be much easier to update, though it will have to be built. That said, since everything is in dcc-ex.github.io, the files can be added there directly.  I am still not up to speed on the PWA option. Are there any "cons" to this?

[2020-11-21 19:16] matt-hu commented on #16
@FrightRisk could we have a conclusion to the PWA stuff first? I think it would be a good idea to resolve this before we start telling people to come and have a look at what we are doing...

[2020-11-21 19:16] FrightRisk opened #40 "Add WiFi Support"

[2020-11-21 19:16] FrightRisk opened #41 "Add WiThrottle Support"

[2020-11-21 19:17] matt-hu commented on #15
@FrightRisk no 'cons ' as far as I am aware

[2020-11-21 19:17] matt-hu commented on #40
@FrightRisk does this link to #26?

[2020-11-21 19:17] FrightRisk opened #42 "Look at alternative Serial Communications support (work on more than just chromium browsers)"

[2020-11-21 19:20] matt-hu commented on #26
@FrightRisk I am doing my best to follow the way that is decided for TPL. I have been discussing the implementation of turnouts, to make sure that it is 'future proof'. Once TPL is finalised in CS, I will get to work implementing to the best of my ability with TrainLink.  As far as the CS is concerned, as it is run on a server on a raspberry pi or PC at the moment, there is no impact. I am just ab

[2020-11-21 19:23] matt-hu commented on #38
@FrightRisk All done, forgot to close

[2020-11-21 19:23] #38 closed

[2020-11-21 19:24] matt-hu commented on #28
@FrightRisk I think it is looking that way. We have a sizable changelog, but there are just a few things to clear up first.

[2020-11-21 19:45] matt-hu commented on #11
@FrightRisk I have been using milestones to organise issues, but I can add a checklist if you want?

[2020-11-21 20:11] matt-hu commented on #26
Forgot to say, it is supposed to be a more easy to use, open and cross-platform version of WiThrottle. WiThrottle is great for mobile devices, TrainLink is for Desktop, Arduino and possibly mobile

I have started playing around with TrainLink in the `trainlink` branch

[2020-11-22 01:02] ManiAkasapu commented on #11
@FrightRisk I want your opinion on turnouts and how you are imagining to control them..

[2020-11-22 01:05] ManiAkasapu commented on #11
Do think we have have a switch to toggle between  Function buttons & turnout control panel? Or thinking about layout with properly placed turnout replicating the layout?

[2020-11-22 01:09] ManiAkasapu commented on #28
@FrightRisk As I commented on other thread.. the turnouts implementation (hence release) depending how we want them? A list of turnouts where use can toggle just how function buttons are... It is easy..

You wanted a layout (map) with turnouts placed at appropriate places not so easy... And will be delayed.

[2020-11-22 01:17] ManiAkasapu commented on #15
Yes. I tried it was good. I just added suggestion to have install button inside settings page.. that avoids searching in chrome menu and also we can move where ever we want later...

[2020-11-22 01:20] ManiAkasapu commented on #41
Sorry for asking this again. This one is jmri language.. correct @FrightRisk

[2020-11-22 01:25] ManiAkasapu commented on #26
So is it like now we have multiple comm/ interfaces?
1. Serial
2. Wifi

In that we have interfaces like
1. Direct command
2. TPL
3. Withrottle
4. Trainlink

??

[2020-11-22 01:26] ManiAkasapu commented on #39
You mean popout new window and type commands there?

I did not understand..

[2020-11-22 01:28] ManiAkasapu commented on #14
@matt-hu Can you create a issue for above and close this?

[2020-11-22 01:31] ManiAkasapu commented on #16
@FrightRisk I agree with @matt-hu . Let's complete PWA thing too.. then put it for testing..

[2020-11-22 01:36] ManiAkasapu commented on #6
@FrightRisk @matt-hu  I am happy that webthrottle is user-friendly.. and users (who knows about throttles) can easily get started without manual too..Just wanted to share..
How you you are planning this one? A webpage on dcc-ex?

[2020-11-22 15:19] matt-hu commented on #42
@FrightRisk good idea, however an initial Bing search suggests that it may be a little bit harder on, say, Firefox than chrome as most solutions require DLLs to be added...

[2020-11-22 15:20] matt-hu commented on #39
@FrightRisk Sorry, I also don't really understand what you mean?

[2020-11-22 15:21] matt-hu opened #43 "Turnouts"
From #11

[2020-11-22 15:22] matt-hu commented on #6
@ManiAkasapu Fair point. We might need to add stuff to the wiki, but I will close this one for now.

[2020-11-22 15:22] #6 closed

[2020-11-22 15:24] matt-hu opened #44 "Legacy mode"
From #14

As more new features are added to CS, we may need a legacy mode to retain backwards compatibility to DCC++ Classic

[2020-11-22 15:24] #14 closed

[2020-11-22 16:04] FrightRisk commented on #11
I envisioned a toggle that would go right to left. On touch screens you would swipe. I need to play with engine driver more. If you look in Gregg Berman's github, you can see what he was doing with layouts. let me post in the new layouts issue

[2020-11-22 16:10] FrightRisk commented on #43
There are two ways to go in turnouts. The easy way is to just be able to switch between throttle and a turnout list. Or have a different screen for people wanting turnout control where it all fits on one. I was leaning toward a slide in turnout panel that goes over the function buttons and can slide back. However, take a look at this 4 part video for ideas: https://www.youtube.com/watch?v=48gN-dES

[2020-11-22 16:38] FrightRisk commented on #15
So is the idea, they can use the latest version directly from the website
and then optionally "install on my system"?

On Sat, Nov 21, 2020 at 8:17 PM Mani Kumar A <notifications@github.com>
wrote:

[2020-11-22 16:52] FrightRisk commented on #16
Sorry I am having trouble following. Trying to bounce between too many
projects. Currently we have a live version on the website and run it from
your browser served from our repo on github. If you want it locally, you
download a zip, unzip it and put it on your machine. Where? Is it
selectable? From then on you can just run it from index.html or there is a
shortcut to click on?

We don't lose any

[2020-11-22 17:19] matt-hu commented on #15
@FrightRisk Exactly that. We would have a `build` branch on this repo that we push to every time we want to release an update, then the website would be automatically rebuilt, anyone using the website would get the update. People who had installed it would get the update as soon as they are connected to Wi-Fi (I believe chrome can do it in the background, before they even open the app)

[2020-11-22 17:24] matt-hu commented on #16
@FrightRisk So to clear things up:

Current solution
Hosted on main site, in different repo
Users can download or run in browser
If downloaded, it has to be unzipped then found a home for (documents etc) and launched by finding that folder
To fully deploy a new release, the code has to be copied to the website repo for live users

Proposed solution:
Hosted on GitHub pages in *this* repo
Users can

[2020-11-23 17:08] FrightRisk commented on #39
This was cut and pasted from a suggestion by grbba. Haba felt like the debug window was only for debugging. The idea I believe was to have some important commands on a diag window where a user could hit a button instead of having to type <D> commands. For example, you could turn on the <D ACK> to get logs for support without having to type an awkward command and press send. You could get a current

[2020-11-23 17:11] matt-hu commented on #39
@FrightRisk, That makes more sense now, thanks for the explanation. This could be added as an extra 'window', like the settings page and locomotives are, or should it be on the main throttle page?

[2020-11-23 17:15] FrightRisk commented on #15
That sounds good. I need to look and see how the new website affects things
if at all. We went to Sphinx, so the website publishing is slightly
different. I think if there is an exwebthrottle folder then when it builds
the html it will pull it across to the live site.

On Sun, Nov 22, 2020 at 12:19 PM Matt <notifications@github.com> wrote:

[2020-11-23 17:23] FrightRisk commented on #16
I think I have you. Allright, the current website build process is much
simpler than before. The website exists at dcc-ex.github.io. The "docs"
folder has the live website. The exwebthrottle lives there in a folder and
a link in the website points to it as well as anyone typing
dcc-ex.com/exwebthrottle which called the index.html file and launches the
throttle.

The way we build the website is fro

[2020-11-23 17:24] matt-hu commented on #15
@FrightRisk I think the exwebthrottle stuff is done the same way... The files are scattered amongst the various folders.

If you are ready for us to go ahead with this, I can make the changes to the website and create a pull request once everything else is done

[2020-11-23 17:30] matt-hu commented on #16
@FrightRisk If set up correctly, it should be at www.dcc-ex.github.io/exWebThrottle but the old link *may* still work, but don't quote me on that one. The end-user experience for using in the browser should be identical

[2020-11-23 18:46] FrightRisk commented on #39
I think an extra window like settings

On Mon, Nov 23, 2020 at 12:11 PM Matt <notifications@github.com> wrote:

[2020-11-23 18:47] FrightRisk commented on #15
That sounds good. I am trying to merge some changes now and resolve a
conflix

On Mon, Nov 23, 2020 at 12:24 PM Matt <notifications@github.com> wrote:

[2020-11-23 19:18] matt-hu commented on #39
@FrightRisk Ok, added to the 1.4.0 milestone

[2020-11-24 12:08] FrightRisk commented on #16
That works. Do we keep exWebThrottle? There had been discussion about
everything being -EX as in WebThrottle-EX, Installer-EX, etc.  And since
the website should be redirected, dcc-ex.com is where people navigate
instead of instead of dcc-ex.github.io

On Mon, Nov 23, 2020 at 12:30 PM Matt <notifications@github.com> wrote:

[2020-11-24 17:05] matt-hu commented on #16
@FrightRisk WebThrottle-EX is a good idea as it will fit with all the other names, but someone else will need to change the repo name (I don't have admin)
I can update the name within the website itself if this is going to be its new name.

[2020-11-24 17:08] matt-hu commented on #15
@FrightRisk If we do want to go ahead with this, here are the steps we would need to take (in this order):

1. Prepare the repo - I can do this, this involves creating the `build` branch and merging/correcting everything from `pwa` branch
1. Set up GitHub pages to build from the `build` branch - someone with admin needs to do this
1. Sort out the dcc-ex.github.io repo - again, I can do this, as lo

[2020-11-24 19:07] FrightRisk commented on #16
Ok, I can rename it

On Tue, Nov 24, 2020 at 12:05 PM Matt <notifications@github.com> wrote:

[2020-11-24 20:38] FrightRisk commented on #15
Why build from build instead of Main? If you do 1, I'll do 2. then we can
get to 3.

On Tue, Nov 24, 2020 at 12:08 PM Matt <notifications@github.com> wrote:

[2020-11-26 16:38] matt-hu commented on #15
@FrightRisk The reason I said build from a `build` branch is to avoid accidentally releasing a new feature before we are ready.
At the moment, we let new features accumulate on the master branch from our individual dev branches, then once enough features have accumulated, we tag it and make a release.
With the new system, this wouldn't work as it builds as soon as you push to the branch you are bu

[2020-11-26 17:35] matt-hu commented on #15
@FrightRisk 1 is done, made a PR for 3, so only 2 left to do!

[2020-11-27 23:55] FrightRisk commented on #15
So help me out here a bit more. My limited understanding is that in a
repository, you can have a web page. We already have a web page located at
dcc-ex.github.io (dcc-ex.com). So if we set up pages on this repo, we now
have two websites to maintain? I guess it isn't a "real" website as much as
it is just a repo that happens to have web access to what's in it. So then
the actual website would point

[2020-11-28 08:39] matt-hu commented on #15
@FrightRisk exactly right!

[2020-11-30 15:25] FrightRisk commented on #15
Ok, so I'll create a "site" and point it to build. Is it build root or /docs?

[2020-11-30 16:24] matt-hu commented on #15
@FrightRisk build at root please!

[2020-11-30 16:27] FrightRisk commented on #15
done. I'll check your PR and if everything is caught up with other changes and there are no conflicts, I'll merge it.

[2020-11-30 16:29] matt-hu commented on #15
@FrightRisk Thanks! Just checked, the build appears to be fully working, will thoroughly check later...

[2020-12-01 03:17] FrightRisk commented on #15
So then I'll just have to merge

On Mon, Nov 30, 2020 at 11:29 AM Matt <notifications@github.com> wrote:

[2020-12-02 19:43] matt-hu commented on #15
will be more web content up soon. What is the process now for making
changes? Which branch is for development? And how do things get into
_build? For example, there is a misspelling I need to correct, where do I
do it and how to I make sure it is merged and buit wherever it needs to be?

@FrightRisk To push the typo, make the change in whichever branch you like (can be `master`), then pull the cha

[2020-12-02 19:46] matt-hu commented on #15
@ManiAkasapu Could you please read the above and see if you agree with what I have set out?

If everyone is ok with this, I will write contributing guidelines detailing all of this at some point...

[2020-12-02 19:46] #16 closed

[2020-12-02 19:47] matt-hu commented on #28
@FrightRisk I think we are nearly ready for this release. Let me know once you have made the changes you want to, then we can tag a beta and set the testers onto it!

[2020-12-03 06:54] ManiAkasapu commented on #15
@matt-hu So, If the build (branch) version is changed, its gonna automatically notify the user with a Banner along with button on the top of screen (if current version < build version) and clicking on button will update and once its done the banner gets removed?

[2020-12-03 17:17] matt-hu commented on #15
@ManiAkasapu Even better than that! No user input needed, all done automatically when the web page is refreshed (either by opening the app, opening the webpage or refreshing the page)

[2020-12-04 07:15] ManiAkasapu commented on #15
Then I have nothing to comment except **Wonderful !!!**
@matt-hu

[2020-12-04 16:50] matt-hu commented on #15
@ManiAkasapu Thanks!

I will write up the contributing file when I get some time...

[2020-12-04 16:50] #15 closed

[2020-12-04 16:52] matt-hu commented on #26
@ManiAkasapu Basically, yes.

[2020-12-05 14:40] FrightRisk opened #47 "Report of no return values being sent to the log"
User reports that the Arduino serial monitor sees all the returns from commands but web throttle bdoes not. Will check today. Using 3.0.0 of CS-EX and current release of throttle

[2020-12-05 14:52] matt-hu commented on #47
@FrightRisk Ok, I will investigate later...

I don't have an Arduino on me at the moment, also will need to flash CS v3 as haven't got round to it yet.../

[2020-12-07 03:26] FrightRisk commented on #44
What do you see as breaking compatibility? I'm not very concerned about that. Though one thing we could do is read the version and not send anything classic would not understand

[2020-12-07 03:31] FrightRisk commented on #43
We look at JMRI and Engine Driver to get ideas. We need to support the <T> command if we want to store the turnouts in the CS. A table with visuals and a graphic turnout that shows open or closed would be nice. How do people name or number them? Open or closed could be "railyard" and "mainline".  If we are ambitious, you could draw the layout diagram. That may be a future project.

[2020-12-07 03:35] FrightRisk commented on #41
Yes @ManiAkasapu both JMRI and DCC-EX have a WiThrottle server in them. Other systems too. So it would mean supporting two APIs

[2020-12-07 03:44] FrightRisk commented on #26
I wonder if we can streamline this. In an ideal world we could "fix" WiThrottle. It really could be SO much better. We may be able to drive that on their end and suggest improvements, but they are reluctant to break compatibility with other things that use it. I am trying to find out how may things use it. Can't be that many

[2020-12-07 16:40] matt-hu commented on #26
@FrightRisk Just to be clear, TrainLink is **not** a WiThrottle replacement. I never intend to write a TrainLink app for either Android or iOS. The only way I can see coming close to that is with a PWA, I would have no idea how to even start to write a native app for either platforms. Also, I can see some different use cases for WiThrottle and TrainLink. If a user primarily uses JMRI on a laptop c

[2020-12-07 16:47] matt-hu commented on #44
@FrightRisk The only thing that breaks compatibility at the moment is new turnout command.

Fair point about breaking backwards compatibility though. I suppose that if a DCC++ Classic base station is connected, we could show a message to the user prompting them to update and notifying them not all features will be available unless they do.

Just a thought, it might be possible to use the GitHub AP

[2020-12-07 19:05] matt-hu commented on #28
@FrightRisk I think we are ready to release 1.3.0 'officially'. I say this as the build version currently states it is 1.3.0, but we are yet to release it for download on github

[2020-12-07 19:21] matt-hu opened #48 "CV programming"
Just remembered we are lacking this.
This is a crucial part of a DCC setup, so we should probably try and implement it sooner rather than later...

[2020-12-08 17:53] FrightRisk commented on #48
This is strange. I added this, or thought I did the same day I input the bug report for return values not coming back from the serial monitor. Maybe I forgot to save it? Oh well, I need to see if there was anything else I intended to add and lost.

[2020-12-08 18:01] FrightRisk commented on #28
Hi Matt, Let's do it.

Did you tell me where you are from? I assume your name is Matt Hu? Or is
that just a screen name? I list in the credits on the Web page a city,
state and country. Is your regular job programming web applications?
JavaScript?

Did you look at why we don't get anything back in the log as responses to
commands?

Thanks!

Fred

On Mon, Dec 7, 2020 at 2:05 PM Matt <notifications@

[2020-12-08 18:04] matt-hu commented on #28
@FrightRisk Ok I will prepare the changelog. If you want to put my name in the credits, Matt H would probably be best as that is what I have used everywhere else.

Sorry, I haven't had time to get my Arduino and update it to investigate the bug yet. I will try and find some time to do that...

[2020-12-08 19:17] matt-hu commented on #28
Release done!

[2020-12-08 19:17] #28 closed

[2020-12-08 19:50] FrightRisk commented on #28
Great, thanks Matt. And where are you located? You are a man of mystery. If
you have secrets, I'm happy to keep them. LOL.

Fred

On Tue, Dec 8, 2020 at 2:17 PM Matt <notifications@github.com> wrote:

[2020-12-12 11:11] matt-hu commented on #47
Ok, I can confirm that this bug exists. I will start working on a fix.

[2020-12-12 17:04] FrightRisk commented on #47
Thanks Matt

On Sat, Dec 12, 2020, 6:11 AM Matt <notifications@github.com> wrote:

[2020-12-15 18:11] matt-hu commented on #47
Ok, so I have tracked down the bug! It took some time as it is fairly low level... I'm not sure that it ever worked, seeing what the cause is...

What is happening is anything given to the `displayLog()` function inside a `<>` is added as a html tag, rather than as text.

I am working on a fix, not quite sure how to do it yet but a bit of research should help!

[2020-12-16 16:16] matt-hu commented on #47
@FrightRisk I have finished the fix in the branch `matt-bugfix`. I have also taken the opportunity to neaten up the debug console and bring the way the emulator and serial responses in line with each other.

Do you want me to issue a patch (version 1.3.1) or just leave it for now? I am more inclined towards releasing a patch as it is a fairly major bug, but I wanted your opinion

[2020-12-16 20:22] FrightRisk commented on #47
I agree with you on the patch. Go ahead. Thanks!

On Wed, Dec 16, 2020, 11:17 AM Matt <notifications@github.com> wrote:

[2020-12-16 20:45] matt-hu commented on #47
Relase made and deployed to the build branch!

[2020-12-16 20:45] #47 closed

[2020-12-16 20:46] matt-hu commented on #47
@FrightRisk, by the way, could you let me know the user who reported this so they can be thanked on the release?

[2020-12-21 06:27] ManiAkasapu commented on #48
CV level programming is OK. We can have UI similar to JMRI. User can have button to read current CV value and button to Write (overwrite) desired value. And have buttons to Read All and Write all.

@FrightRisk How many CVs will be available? NMRA standards etc..I do not know about these rules & limitations..
if you will be number of CVs supported then we can add these..

We need to introduce page

[2020-12-21 06:40] ManiAkasapu commented on #43
@FrightRisk I try to list out here please edit and add your list.

1. Equilateral turnout (2 way) - Y shaped, left, right
2. Three-way turnout
3. Cross/Diamond turnout
4. Double crossover

[2020-12-22 01:10] FrightRisk commented on #47
I've tried to find the user and can't! I'll go again through all the places
where people leave comments and see if I can find them. Merry Christmas if
you celebrate it.

Fred

On Wed, Dec 16, 2020 at 3:46 PM Matt <notifications@github.com> wrote:

[2020-12-22 01:11] FrightRisk commented on #28
Matt, where are you located? Can I put a city and state/province, whatever
next to "Matt H"?

Fred

On Tue, Dec 8, 2020 at 1:05 PM Matt <notifications@github.com> wrote:

[2020-12-22 08:19] matt-hu commented on #47
Oh never mind then, if you find them, let me know...

Have a good Christmas yourself! I probably won’t be doing much till the new year, so you probably won’t hear from me much till then...
From: Fred<mailto:notifications@github.com>
Sent: 22 December 2020 01:10
To: DCC-EX/WebThrottle-EX<mailto:WebThrottle-EX@noreply.github.com>
Cc: Matt<mailto:matthew.vandevyver@outlook.com>; State change<mailto:s

[2020-12-22 08:21] matt-hu commented on #47
Oh never mind then, if you find them, let me know...

Have a good Christmas yourself! I probably won’t be doing much till the new year, so you probably won’t hear from me much till then...

[2020-12-22 08:22] matt-hu commented on #28
Hi Fred,
Sorry, I would rather not have a location next to my name, I'm just a bit of a privacy concerned person...

[2020-12-29 14:51] matt-hu commented on #42
@FrightRisk I have been thinking a little about this, I wonder if the best thing to do is just contact Mozilla and ask them if there is any way to do this. Also, do you know of any other non-chromium browsers?

[2021-01-06 17:55] matt-hu commented on #11
If it's ok with you guys, I'll close this issue now as we have a fairly sizeable backlog to be working on?

[2021-01-06 17:57] matt-hu opened #49 "Version 1.4.0"
As is becoming tradition now, here is the issue for 1.4.0 changes!

[2021-02-09 20:12] FrightRisk commented on #48
Rather than repeat the spec, I'll point to it and we can discuss. Basically, we have CVs from 1-1024. There is a method for extending them to allow for for 65,537 CVs. I think for starters, we just handle 1-1024 as normal CVs.

https://dccwiki.com/Configuration_Variable#:~:text=NMRA%20Standards,-Main%20article%3A%20Configuration&text=2.2%20defined%20the%20ranges%201,512%2D1024%20as%20normal%20CVs.

[2021-02-09 20:16] matt-hu commented on #48
@FrightRisk thanks for that! I know very little about CVs (I have only changed the address and acceleration of my decoders!), so I will make sure to have a look at that...

[2021-02-09 20:54] FrightRisk commented on #48
I think we can start with the following regarding CVs. We can't just say "adjust volume" or "change to bell number 3" because things are so non standard. JMRI gets around some of this by maintaining a list of 100s of decoder definition files for all those locos. We could copy those, but I am thinking simple is better. People need to get out their loco sheet and look at the table and then just put

[2021-02-09 21:19] FrightRisk commented on #43
Some models for us to get ideas on about how to enter, store, recall and operate turnouts:

https://enginedriver.mstevetodd.com/turnouts
https://www.jmri.org/help/en/package/jmri/jmrit/beantable/TurnoutTable.shtml

Note that Gregg originally had a controller written in the processing language using Java. That may be easily adapted to what we want to do including graphical turnouts. Have the layout

[2021-02-10 09:42] matt-hu commented on #49
Ok, so by the looks of things, these are what we want to include in 1.4.0:
- #48 CV programming
- #43 Turnouts

Previously, these had been suggested for 1.4.0, shall we still aim to include them in the release?
- #39 *Command window idea*
- #37 *Separate .js files by responsiblity*

That leaves these ideas for 1.5.0:
- #40 *WiFi support*
- #41 *Add WiThrottle support*
- #26 *TrainLink intergration

[2021-02-18 21:22] FrightRisk opened #51 "Change function button names from press/switch to press/latch or..."
Most systems seem to refer to a Fn button you "press" or hold as momentary and one you toggle as "latching". So, we can change these to momentary/latching or press/toggle or press/latch. Whether we do this or even leave them the same, we need a help line somewhere, perhaps right at the top next to the pencil icon that says "switch = toggle, press = momentary". What is best?

[2021-02-18 21:27] FrightRisk opened #52 "Loco Roster"
Need to finish the locomotive section. Should we have the word roster? Can we add images? Can we click to select that loco. And further, can we then add the loco image somewhere on the throttle? And last, can we have a panel of X number of locos so from the roster you add them to the throttle and then on the throttle screen, you just click on any loco to control it.

[2021-02-18 23:29] FrightRisk opened #53 "Change (add?) <F> command for handling function buttons"
First, do we need DCC++ Classic compatibility for Fn buttons? If not, we can really simplify the code by using the DCC++ EX <F> command instead of the <f> command (upper case vs. lower). If we do need it, perhaps we can make that a unit and then call <F> or <f> based on parsing the <s> command and getting the version or looking for "EX"

[2021-02-19 08:06] matt-hu commented on #53
@FrightRisk I think we should be ok to drop backwards compatibility, as long as we show a message to DCC++ Classic users telling them why it's not working and where they can get the new software from.

Do you know of any reasons someone may want to stay on DCC Classic (features that aren't in Command station)? If there are, we may need to rethink...

[2021-02-19 08:08] matt-hu commented on #51
@FrightRisk sounds ok to me! Due to the introduction of CVs in 1.4.0, I think we may need to start documenting in the Wiki how to use certain aspects of the interface anyway, so we could just add an explanation there as well as a tooltip.

[2021-02-19 08:13] matt-hu commented on #52
@FrightRisk sounds good to me. I know @ManiAkasapu has made a branch to do with multiple loco control, I'm not sure what he's doing though.

As far as showing multiple throttles, I think that would have to be done inside one window for now. I would guess only one window is allowed access to the serial connection, however the wireless stuff we may add later may allow for this.

[2021-02-19 08:14] matt-hu commented on #49
@FrightRisk I'm guessing the features in the three new issues will be in 1.4.0?

[2021-02-19 15:52] FrightRisk opened #54 "Fn groups are different in the US and the UK"
In the US, Fn 0 is light, Fn1 is Bell and Fn 2 is horn. Usually light and horn are toggle, but Bell is latch. In the UK apparently, Fn 0 is still lights but Fn1 is a sound on/off toggle, Fn 2 is horn long and Fn 3 is horn short (or at least on this person's decoder).

He said he is having a problem with trying to work out the latching and non latching functions when trying to create his own button

[2021-02-19 16:19] FrightRisk commented on #54
What does "aria" mean in this function? btnState = clickedBtn.attr("aria-pressed"); I see a timer set, but don't see what we are timing, what the value is, or what will happen when the timer value is reached. Is this where F1 could automatically get turned off somehow?

[2021-02-19 19:23] matt-hu commented on #54
I haven't really touched the functions code, but switching to the new system sounds like a good idea! I will have a little play around at some point and try and investigate...

[2021-02-20 02:31] ManiAkasapu commented on #54
He may need to have change the button Type to TOGGLE. That could be Problem
<img width="779" alt="image" src="https://user-images.githubusercontent.com/3207181/108580417-69d45380-7351-11eb-99d8-feb4f21a11e4.png">

Just to understand the jargon:

Toggle == Press&hold == Momentary button
Is  **Latch === Switch**  ?

By default (Master Map), F1(Bell), F2(Horn) are Momentary (Press&Hold) button.

User

[2021-03-09 21:37] FrightRisk opened #55 "Back to back responses showing an ending bracket"
type the "c" command get a current report and you get this:

RECEIVE] c CurrentMAIN 0 C Milli 0 1997 1 1

[RECEIVE] 997 a 0>

It is splitting the first command partway through the second "1997" and then including a closing bracket. Should we display the brackets?
This seems related to how the parser is breaking up lines. This should either be one line or perhaps 2. If we include the brackets, it w

[2021-03-12 17:10] matt-hu commented on #48
@FrightRisk @ManiAkasapu I have added a blank CV programming page to the features/cv branch

[2021-03-12 17:13] matt-hu commented on #54
By the sounds of things, this may be fixed by #51 and #53? Even if it isn't, it may give us a better idea of where things are going wrong...

[2021-03-13 03:22] ManiAkasapu commented on #54
I am still trying to understand the problem.. Any function in the map can be configured to be press&hold button or Toggle type button.. So, user can configure however he wants.. All he needs is to create new map and configure According to his needs.. It does not matter it's US or UK..

[2021-03-13 03:41] FrightRisk commented on #54
I think the issue is that the command station itself defaults to handling
the F2 differently assuming it is always the horn. In Europe it can be
something else.

Fred

On Fri, Mar 12, 2021, 10:22 PM Mani Kumar A ***@***.***>
wrote:

[2021-03-13 10:56] matt-hu commented on #54
@FrightRisk Ok that makes sense. I personally don't have sound decoders, so I can't verify this. I will have a look and see if I can find where it is going wrong...

[2021-03-14 00:56] FrightRisk commented on #54
I will look too. Withrottle and NCE automatically set F2 to momentary
because it is a horn (but not in Europe apparently so that causes problems)
I can see the WiThrottle code in DCC-EX handles F2 differently.

Fred

On Sat, Mar 13, 2021 at 5:57 AM Matt ***@***.***> wrote:

[2021-03-14 08:47] matt-hu commented on #54
@FrightRisk ok. That could be annoying for people with non-sound decoders as these would have lights on F2 I think?

[2021-04-18 13:28] matt-hu opened #57 "Transition to javascript framework"
@FrightRisk, @ManiAkasapu, I feel that in it's current state, the codebase is going to be **very** hard to scale, for 1.4.0, especially for the new wireless features for 1.5.0 and beyond. `index.html` is currently over 500 lines long, and this is only going to get longer as we add more pages such as CV programming, making it very hard to find the section you are trying to work on. As such, we need

[2021-06-02 19:36] FrightRisk commented on #57
Hi Matt. I'm going to have to read up on this a bit. How familiar are you with Vue.js at this point? It is likely to be around a while or will it go the way of flash?

The most important new features is handling turnouts (and along with it, other accessories)

- What is involved in installing the development environment?
- How big a rewrite and then trying to have it readable for others?
- Will th

[2021-06-02 20:07] matt-hu commented on #57
@FrightRisk so to answer some of your questions:
- Vue.js has been around for a while now, it's an independent and open source alternative to React.js (which is a Facebook product)
- It uses node.js as the development environment, I can prepare instructions on how to set this up for Linux and Windows and potentially MacOS. It will also allow us to manage our dependencies much better
- I should be

[2021-06-02 23:52] FrightRisk commented on #57
Looks good. I imagine we can change the favicon so the browser tab shows the DCC-EX rhombus logo. I'll read through the Vue.js documentation and see what I can learn. The only other issue is that it would need to be able to be picked up by others if they come onboard or if you disappear ;)

[2021-06-03 00:21] FrightRisk commented on #57
What are we using now? Isn't it just JavaScript and node.js? It's been a while since I did much JavaScript, but you can use includes and still have things broken up into separate files, no? So what's the big benefit of a framework like this? And I'm not questioning your recommendation, I'm just trying to make sure we cover all the bases.

[2021-06-04 14:10] matt-hu commented on #57
@FrightRisk So at the moment, we are using pure HTML/CSS/JavaScript (no node.js). You are right in saying that you can split up JavaScript files, and we have done this a little. However, it is still hard to find JavaScript that handles a particular part of the interface. With Vue, HTML is in the same file as the related JavaScript and CSS, making it much easier to handle and reuse sections of the

[2021-06-04 15:25] FrightRisk commented on #57
Sounds Good Matt. Let's get started (well, you already have, but officially
:) ) Not sure if I mentioned it, but the WEB Serial feature that we use was
released, so it is not officially in Chromium Browsers with version .89 and
above. So no need to enable experimental features.

On Fri, Jun 4, 2021 at 10:10 AM Matt ***@***.***> wrote:

[2021-06-04 15:40] matt-hu commented on #57
Ok, thanks for letting me know about the serial stuff! That's great news as it's one less hurdle to put off potential users. I did have a look but I don't think Mozilla have anything similar in Firefox.
I'll try and PR the work I've done as soon as I have time!

[2021-06-20 01:05] ManiAkasapu commented on #57
Hello @FrightRisk @matt-hu, Hope you are doing good.. It is great to see this.. In addition to this I am thinking about complete revamp of UI.. I cannot Focus on code now but I can give you the new mockups that will set the design direction to Webthrottle.
The aim is to build a complete interface that is simple, efficient, easy to use interface, highly modern interface..
If you both agree with me,

[2021-06-20 07:15] matt-hu commented on #57
@ManiAkasapu sounds good by me! I haven't got very far with the Vue stuff yet so now would be the perfect time for a redesign!

[2021-07-31 18:22] FrightRisk opened #59 "Send ple-planned routes to WiThrottle"
Webthrottle......  EX-RAIL already  has a way of giving Withrottle preplanned route setups  (eg set several turnouts/signals to create a route through the layout with a single click) and preplanned automations  (hand the current loco over to exrail to drive away.)
It seems sensible to extend this facility to Webthrottle.
What is required:
 - way to send list of routes and automations to webthrottl

[2021-08-08 19:47] habazut opened #60 "Chars lost in Receive"
This is the debug window:
[code]

This is what I see in the web console:
[code]

Looks to me the receive stream is digested in chunks which do not align with the messages (that's ok) but that makes that some chunks don't make it to the debug window (not ok).

I guess that when
[code]
 comes in too much is discarded and not  concatenated together with
[code]
 and
[code]

Harald.

[2021-08-08 19:54] habazut opened #61 "Color of poweron"
IMHO when power on it should be red. As for example in JMRI.

(Now it's like a mains circuit breaker in a distribution panel because those are red when on and green when off).

Harald.

[2021-08-08 19:55] habazut opened #62 "The direction slider sends <t> commands to loco 0 if no loco is selected. It should not send any command."
As title says
Harald.

[2021-08-18 04:03] TheSkellingtonKing commented on #57
Will switching to multiple html pages using javascript still be stateful and maintain the connection to the base station/configuration?  I don't see any session or other configuration storage other that what is common in the javascript code on the page.

[2021-08-24 04:35] ManiAkasapu commented on #57
Welcome @TheSkellingtonKing
Please let me know you have any questions. I am no developer so you may find most unconventional ways in the code.

@FrightRisk I have been busy with so many things (recently my second son arrived). But always ready to help on web-throttle. Just mention me on GitHub.

I see there are some pending tickets created. Before code rewrite, you want to address them?

@FrightRi

[2021-08-24 04:52] ManiAkasapu commented on #61
<img width="424" alt="image" src="https://user-images.githubusercontent.com/3207181/130557576-28a7c2e6-06ad-44e2-8499-c505b142d3c9.png">
<img width="313" alt="image" src="https://user-images.githubusercontent.com/3207181/130557594-c034803e-724f-4936-9af7-7d2c78026c80.png">

Is this what you are referring? @habazut

[2021-08-24 05:21] ManiAkasapu commented on #62
Fixed. Please test and let me know.

[2021-08-24 05:22] ManiAkasapu commented on #60
@FrightRisk Please look.

[2021-08-24 05:25] ManiAkasapu commented on #51
@matt-hu You seem already worked on this. But waiting for review?

[2021-08-24 05:31] #11 closed

[2021-08-24 05:33] ManiAkasapu opened #63 "Planning for WebThrottle Version2"
Hi All,

Let's use this space for planning next WebThrottle version.

[2021-08-24 07:13] matt-hu commented on #57
@ManiAkasapu regarding the open tickets, it may be best to address them before V2. That way if we borrow any code from this codebase we don't need to worry about bugs in that code.

I agree with you regarding research, I think that that is a very good idea. I wonder if there is some way we could survey current users to find out what they like and dislike etc. Unfortunately we also have no way of f

[2021-08-24 11:58] #51 closed

[2021-08-24 12:06] FrightRisk commented on #63
Why don't we move this to "discussions"? I need to learn a bit more since we have issues and projects and now discussions... It can be frustrating trying to figure out how it all works together. In general, I want to:

1. Keep issues for bugs, new features, and users posting suggestions or questions
2. Use projects to track the Kanban Cards for tracking development
3. Use discussions for us to coo

[2021-08-24 12:32] FrightRisk commented on #57
Let's see what we can fix and get this version where we want it while we
discuss version 2.0.

People talk about WebThrottle on the Discord channel and in the video
comments and on Trainboard. More people than I thought are using it. It is
a great way to get started and to test. So..

Why they use it
-----------------------

1. Because we talk about it on the website and in the videos
2. It is the

[2021-08-24 13:31] matt-hu commented on #63
Sounds good! By the looks of it, there is a way to turn a discussion into a issue, so once a set of features emerge from a discussion, they can be turned into an issue and added to the project boards. Using discussions will make the dev process more transparent and allow people outside the org to give suggestions and feedback.

I wonder if we should also get in the habit of PRing more and reviewin

[2021-08-24 13:44] matt-hu commented on #57
Thanks for the insight! I had assumed that not many people were using it based off stars and repo clones/views. It is a shame GitHub doesn't have view figures or analytics for GitHub pages like it does repos.

Those all sound like good improvements to make, CVs and turnouts especially.  What we need to try and do now is make it a great way to run a layout for advanced users, rather than just a way

[2021-08-25 13:26] FrightRisk commented on #57
I'm torn on the Desktop App idea. Just to be clear, we are talking about an EXE program, correct? I'm still not a bit web app fan, but see the writing on the wall. The entire reason I had a career in computers is because the IBM PC finally made it fashionable to buy personal computers to replace mainframes and Displaywriters and have distributed processing instead of centralized with dumb terminal

[2021-08-25 13:36] matt-hu commented on #57
@FrightRisk I see your point regarding wanting to keep it as a web app. However, some people will prefer a native app (exe) still (I know I do) as then they will be able to use it offline and won't need to have a browser open. Perhaps what we need is a web app *and* a native app, the web app to get people started with no download or install, then the native app for more advanced users. Some users

[2021-08-25 14:28] FrightRisk commented on #57
You and I are in the minority, apparently. Just like I had subscriptions, yet a significant portion of software now, like all the Adobe products, are a monthly cost. I'm not sure about the run offline bit, if you click the options to install as a PWA (which you implemented?) it installs locally. If you unzip the files to a folder manually on your hard drive and click the index.html file, it runs w

[2021-08-25 14:42] matt-hu commented on #57
I get your point there about native apps, and you are completly right about the PWA working offline, my mistake. My personal favourite language at the moment is Rust, although I'm not sure GUI support is great at the moment. One option would be C++ and GTK/QT with maybe some Rust componets, although it will be a lot of work. I might have another look at electron. Perhaps we need a smaller installa

[2021-10-04 17:54] murfett-au commented on #63
Hi guys, has anyone considered using React for the V2? I have just started using DCC++ and when not playing with trains, I am a React web developer. JQuery is (was?) great but React takes a lot less code and is a lot easier. I could definitely help out. I will start a “Discussions” topic on React.

[2021-10-06 15:59] FrightRisk commented on #63
It has been suggested that we use Vue instead of React. Personally, I would be reluctant to use anything that has anything to do with Facebook and they control React. I'm not saying it it out of the question, but I would have to be convinced. Of course at the moment, because I can't dedicate time to the project, whoever can help us advance it would need to be able to use the tools that work for th

[2021-10-06 20:14] murfett-au commented on #57
I’d like to suggest React as an option instead of vue. I have used both professionally, and they are both good products and have muc in common. @matt-hu mentions React above and suggests Vue is an open source alternative to React, but both React and Vue are open source. React was written by Facebook, but they have published all source code and it is maintained as open source software.

React is a

[2021-10-07 14:40] dexslab commented on #57
Well you want me to sell it how about some demonstrations of Vue framework. I have used Vue going on a few years now and i love it. I have written multiple sites and various UIs in Vue. I used to use Ionic (Angular2) in TS but again fragmentation in angular and high learning curve made it more difficult. I have a total project in angular which is still hard to understand and i still cannot. Vue i

[2021-10-08 00:48] TheSkellingtonKing commented on #57
React is a download. It's part of node.js, and developers would need to
install another tool called npm (node package manager).  It can be coded
and run in the free IDE Visual Studio Code.  There are others, but I have
experience with that IDE so it's my preferred tool.

I am not sure if it can be compiled into a stand alone application, nor am
I sure if Vue can do the same thing.

With regards to

[2021-10-08 13:02] ManiAkasapu commented on #57
If you guys need any resources/assets (images, icons etc) please feel free to contact me.

[2021-10-09 04:31] TheSkellingtonKing commented on #57
Well, the reality with react is that it can repackage other js, so my
initial thought is that we could leverage some parts of the existing UI. I
am not sure how far we want to go down that path because there may
some newer/already built UI interfaces that we might be able to leverage -
and maybe look for one with a similar look and feel.  The advantage to
using those is they are already built and

[2021-11-22 15:57] FrightRisk commented on #57
Well, the Web Throttle is languishing as often happens with open source
projects, people lose interest or get busy and there is no one left for
updates. I hope someone can get this going again. We are about to release
version 4.0 of DCC++EX and there are lots of additions. I mentioned some
above, but having buttons to read the loco address and write a new address
and have screens for CV reads and

[2021-12-03 11:43] dcyoung-dev commented on #59
@FrightRisk I'd be happy to start on the browser side for this. I don't have experience running DCC-EX however sending and receiving data in JS is within my skill-set.

[2021-12-17 16:43] dcyoung-dev commented on #63
Having looked through the current codebase, I wouldn't recommend rewriting using any other framework at this time.

Given that there are people using this web app it would be wise to add a test suite to ensure functionality is not removed or broken, before moving forward.

Unfortunately adding a test suite would come with the overhead of having to use a Node-based environment. I understand the fri

[2021-12-22 09:26] FrightRisk opened #72 "Add support for ex-rail rosters"
So withrottles can know the names of locos and what functions they support. E.g.
ROSTER(3,"El Cheapo","Light")
ROSTER(66,"Noise","Light/Horn/Bell/Explode/Hiss")

[2022-04-01 00:34] ManiAkasapu commented on #57
@FrightRisk There are some pull requests from @dcyoung-dev. Have you looked at them?
Also please prioritize the the things among  existing issues and new features you wanted to see. I will try to work on them (but not as fast as I used to)

[2022-04-01 20:59] FrightRisk opened #73 "Roster note from Chris"
Chris was "looking at adding roster info to the exrail script so withrottles can know the names of locos and what functions they support. E.g.
ROSTER(3,"El Cheapo","Light")
ROSTER(66,"Noise","Light/Horn/Bell/Explode/Hiss")

[2022-09-03 11:49] hansSchall commented on #57
I am new to WebThrottle-EX development, but I want to help improving this quite usefull tool.

I already created a few apps using TypeScript, React, Node.js and electron.js.

In general I would suggest to migrate to TypeScript as it simplyfies development and debugging a LOT.
Because valid JavaScript is always valid TypeScript this migration could be done component per component.

I would prefer u

[2022-09-03 12:09] FrightRisk commented on #57
I would love for someone to help with new development. There are lots of new features and commands in EX-CommandStation that should be in EX-WebThrottle (we have standardized on EX being the prefix for all our products)

We need to add CV Programming, a turnout control screen, and hooks for EX-RAIL. I see WebThrottle as both a throttle a d a tool for testing and even ultimately, an installer.

Let

[2022-09-03 15:06] hansSchall commented on #57
I use VScode for everything. By the way, VScode itself is written in TypeScript and Electron.js and has great TS/JS tooling builtin.

Most of js/ts tools can be installed with npm, because they are implemented itself in js/Node.js. npm is the package manager of Node.js. So you will need to install Node.js from https://nodejs.org/. Simply install it using the default options.

Node.js is a JavaScri

[2022-09-03 15:12] dexslab commented on #57
I started a typescript vue3 project for those with developer access feel free to look it over and make changes. I have been busy and haven't looked back around to it yet.

[2022-09-03 21:18] FrightRisk commented on #63
I'm trying to coordinate the issues and discussion here into one discussion. We are ready to move forward and needs to see who can help

[2022-09-03 21:35] FrightRisk commented on #57
We have 2 other developers, Matt and John, who I may be able to help. I think the choice has to be made between Vue and React. I'm torn in that Vue has some nice features and may be easier to integrate into an existing app, but React is the VHS to Vue's BetaMax. Maybe it is more Android vs. iPhone, but despite 8 years to catch up, React still has the big lead. If someone starts this project and dr

[2022-09-04 06:49] ManiAkasapu commented on #57
It good to hear that finally someone to keep this going.. Let me know if you need any help wrt to present code, images, ideas ..

[2022-09-04 20:49] matt-hu commented on #57
Hi all,

Unfortunately I'm not going to be able to make the commitment to allow for the use of Vue. However I have heard that they are fairly similar and once you know one learning the other is fairly easy.

As I have a busy few months coming up I won't be able to contribute much in the way of code, but I'd love to still be involved in the project possibly doing some of the more 'admin' tasks such

[2022-09-08 12:45] FrightRisk commented on #57
Remember what we have here, we are not an Enterprise level website with a shopping cart (though an interesting idea is to be able to purchase things... But I digress), we are just an app to control trains. Which parts are necessary and which parts are just because that is what someone knows and uses in their day job?
If the only choice is Vue vs. React, then we have to make it.

[2022-09-09 19:40] FrightRisk commented on #57
I'm not 100% (in hospital) so not able to lead this as I would like. I created a new repo and DRc has one also do the Vue version. Does that help us at least with deciding a direction?

Chris mentioned to me, ' the overriding issue for webthrottle is that there can be no background server processes other than supplying fixed files. (So no node.js) and the comms to the cs will have to be dual pathe

[2022-09-10 00:03] FrightRisk commented on #57
Important note that EX-CommandStation sends everything over Serial 0 (USB). All diags go there. A"<" knows it is a DCC++ command, otherwise a different parser looks for a WiThrottle command. When connecting to the other serial ports via WiFi or Ethernet, we try to respond to the device sending the command but there is no negotiation. It is just an open serial port. Looking at the WiThrottle code o

[2022-09-10 10:23] matt-hu commented on #57
@FrightRisk So sorry to hear that, hope you are feeling better soon.

I think we are getting some sort of idea as to where we are heading from the talk in the discussion and we'll move to the new repo.
Once that's done there'll be a few things we might need you to do such as set up github pages and branch restrictions seen as we don't have the permissions to do that as far as I am aware.

[2022-09-20 16:22] dexslab commented on #57
Well I'm gonna just leave this video here so you can at least laugh a bit.

https://youtu.be/HyWYpM_S-2c

[2022-09-23 16:23] matt-hu opened #77 "Bug Report: Unable to power on CS"
From discord, users are reporting that they are unable to switch on the track power from the UI.

I have been able to reproduce this myself and it appears that nothing is being sent to the CS, though this will need more investigation

[2022-10-02 08:54] Greenheartlines commented on #77
I checked this solution #78 and it does work. Thanks!

[2022-10-07 15:58] #77 closed